<div class="nav-mobile">
    <div id="nav-mobile-menu-button" class="nav-mobile__button">
      <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
    </div>
    <nav id="nav-mobile-menu" class="nav-mobile__menu">
      <a class="nav-mobile__link" href="/#quando">Il Matrimonio</a>
      <!-- <a class="nav-mobile__link" href="/#orari-di-riferimento">Orari di Riferimento</a> -->
      <!-- <a class="nav-mobile__link" href="/travel">Travel</a> -->
      <!-- <a class="nav-mobile__link" href="/accommodation">Accommodation</a> -->
      <a class="nav-mobile__link" href="/#dress">Dress Code</a>
      <a class="nav-mobile__link" href="/#regali">Regali</a>
      <a class="nav-mobile__link" href="/travel">Turismo</a>
      <a class="nav-mobile__link" href="/#misc">Altre informazioni</a>
      <a class="nav-mobile__link rsvp-button rsvp-nav" href="/rsvp">RSVP</a>
    </nav>
  </div>
  <nav class="nav-desktop">
    <a class="nav-desktop__link" href="/#quando">Il Matrimonio</a>
    <!-- <a class="nav-desktop__link" href="/#orari-di-riferimento">Orari di Riferimento</a>-->
    <!-- <a class="nav-desktop__link" href="/travel">Travel</a> -->
    <!-- <a class="nav-desktop__link" href="/accommodation">Accommodation</a> -->
    <a class="nav-desktop__link" href="/#dress">Dress Code</a>
    <!-- <a class="nav-desktop__link" href="/#facilities-accessibility">Facilities</a> -->
    <a class="nav-desktop__link" href="/#regali">Regali</a>
    <a class="nav-desktop__link" href="/travel">Turismo</a>
    <a class="nav-desktop__link" href="/#misc">Altre informazioni</a>
    <a class="nav-desktop__link  rsvp-button rsvp-nav" href="/rsvp">RSVP</a>
  </nav>